<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3 class="text-center"> <u>Topics Covered:</u> </h3>
        <div class="text-center">
            <p>Components</p>
            <p>String Interpolation</p>
            <p>One way Data binding</p>
            <p>Two way Data binding</p>
            <p>Event binding</p>
            <p>Adding Bootstrap</p>
            <p>Property Binding</p>
            <p>All Types of Directives</p>
            <p>All types of Pipes</p>
            <p>Routing and Navigation</p>
            <p>Authguard - CanActive</p>
            <p>Models</p>
            <p>Services</p>
            <p>Life Hooks</p>
            <p>Component Decorator</p>
            <p>Router Outlet</p>
            <p>Observable</p>
            <p>RxJS Library</p>
            <p>Json-Server API</p>
            <p>Providers</p>
            <p>Calling API</p>
            <p>Accessing Server over HTTP</p>
            <p>Use of Local Storage</p>
            <p>Pipe() and Map()</p>
            <p></p>
        </div>
        <div>
            <h3 class="text-center"> <u>Component Diagram</u> </h3>
            <img class="img-responsive text-center" src="assets/images/ComponentDiagram.png" width="100%">
        </div>
    </div>
    <div class="col-md-3"></div>
</div>